  <!-- third navbar -->
  <nav class="navbar navbar-light" style="background-color: #fdebd2;">
    <!-- header -->
    <div class="container-fluid text-center justify-content-center">
    <a class="navbar-brand" href="#"></a>
    <p style="font-family:cambria; font-size:50px;">Prep for fall with unique picks.</p>
    </div>
    <!-- tan background for spacing-->
    <img src="./assets/tan.PNG" alt="" width="175" height="10" class="d-inline-block align-text-top">
    <!-- items with pictures -->
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="./assets/Halloween.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
    <div class="container-fluid text-center justify-content-center">
    <br>Halloween
    </div>
    </a>
    </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="./assets/FallFinds.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
    <div class="container-fluid text-center justify-content-center">
    <br>Fall Finds
    </div>
    </a>
    </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="./assets/PersonalizedGifts.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
    <div class="container-fluid text-center justify-content-center">
    <br>Personalized Gifts
    </div>
    </a>
    </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="./assets/Jewelry.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
    <div class="container-fluid text-center justify-content-center">
    <br>Jewelry
    </div>
    </a>
    </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="./assets/StorageOrganization.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
    <div class="container-fluid text-center justify-content-center">
    <br>Storage & Organization
    </div>
    </a>
    </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="./assets/OnSale.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
    <div class="container-fluid text-center justify-content-center">
    <br>On Sale
    </div>
    </a>
    </div>
    </nav>
    <!-- tan background for spacing-->
    <img src="./assets/tan.PNG" alt="" width="175" height="10" class="d-inline-block align-text-top">
