/* background color for third navbar */
nav.navbar{
    background-color: #fdebd2;
}

/* Dropdown Button */
  .dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
