  <!-- second navbar -->
  <nav class="navbar navbar-white bg-white">
    <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav">
    <!-- navbar list-->
    <li class="nav-item"><a class="nav-link text-black" href = "#">
    <!-- dropdown menu-->
    <div class="dropdown">
    <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Halloween Shop
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#"></a></li>
    </ul>
    </div>
    </a></li>
    <li class="nav-item"><a class="nav-link text-black" href = "#">
    <!-- dropdown menu-->
    <div class="dropdown">
    <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Jewelry & Accessories
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Accessories </a></li>
    <li><a class="dropdown-item" href="#">Bags & Purses</a></li>
    <li><a class="dropdown-item" href="#">Necklaces</a></li>
    <li><a class="dropdown-item" href="#">Rings</a></li>
    <li><a class="dropdown-item" href="#">Earrings</a></li>
    <li><a class="dropdown-item" href="#">Bracelets</a></li>
    <li><a class="dropdown-item" href="#">Body Jewelery</a></li>
    <li><a class="dropdown-item" href="#">All Jewelery</a></li>
    </ul>
    </div>
    </a></li>
    <li class="nav-item"><a class="nav-link text-black" href = "#">
    <!-- dropdown menu-->
    <div class="dropdown">
    <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Clothing & Shoes
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Women's </a></li>
    <li><a class="dropdown-item" href="#">Men's</a></li>
    <li><a class="dropdown-item" href="#">Kids' & Baby</a></li>
    <li><a class="dropdown-item" href="#">Bags & Purses</a></li>
    </ul>
    </div>
    </a></li>
    <li class="nav-item"><a class="nav-link text-black" href = "#">
    <!-- dropdown menu-->
    <div class="dropdown">
    <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Home & Living
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Home</a></li>
    <li><a class="dropdown-item" href="#">Bath & Beauty</a></li>
    <li><a class="dropdown-item" href="#">Pet Supplies</a></li>
    </ul>
    </div>
    </a></li>
    <li class="nav-item"><a class="nav-link text-black" href = "#">
    <!-- dropdown menu-->
    <div class="dropdown">
    <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Wedding & Party
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Party Supplies</a></li>
    <li><a class="dropdown-item" href="#">Invitations & Paper</a></li>
    <li><a class="dropdown-item" href="#">Wedding Decorations</a></li>
    <li><a class="dropdown-item" href="#">Wedding Gifts</a></li>
    <li><a class="dropdown-item" href="#">Wedding Accessories</a></li>
    <li><a class="dropdown-item" href="#">Wedding Clothing</a></li>
    <li><a class="dropdown-item" href="#">Wedding Jewelery</a></li>
    </ul>
    </div>
    </a></li>
    <li class="nav-item"><a class="nav-link text-black" href = "#">
    <!-- dropdown menu-->
    <div class="dropdown">
    <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Toys & Entertainment
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#"></a></li>
    </ul>
    </div>
    </a></li>
    <li class="nav-item"><a class="nav-link text-black" href = "#">
    <!-- dropdown menu-->
    <div class="dropdown">
    <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Art & Collectibles
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#"></a></li>
    </ul>
    </div>
    </a></li>
    <li class="nav-item"><a class="nav-link text-black" href = "#">
    <!-- dropdown menu-->
    <div class="dropdown">
    <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Craft Supplies
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Home & Hobby</a></li>
    <li><a class="dropdown-item" href="#">Jewelry & Beauty</a></li>
    <li><a class="dropdown-item" href="#">Sewing & Fiber</a></li>
    <li><a class="dropdown-item" href="#">Papercraft</a></li>
    <li><a class="dropdown-item" href="#">Visual Arts</a></li>
    <li><a class="dropdown-item" href="#">Sculpting & Forming</a></li>
    </ul>
    </div>
    </a></li>
    <li class="nav-item"><a class="nav-link text-black" href = "#">
    <!-- dropdown menu-->
    <div class="dropdown">
    <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Gifts & Gift Cards
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Gifts for Her</a></li>
    <li><a class="dropdown-item" href="#">Gifts for Him</a></li>
    <li><a class="dropdown-item" href="#">Gifts for Kids</a></li>
    <li><a class="dropdown-item" href="#">Gifts for Pets</a></li>
    <li><a class="dropdown-item" href="#">Personalized gifts</a></li>
    <li><a class="dropdown-item" href="#">Black-owned Etsy shops</a></li>
    <li><a class="dropdown-item" href="#">Latinx-owned Etsy shops</a></li>
    <li><a class="dropdown-item" href="#">Birthday gifts</a></li>
    <li><a class="dropdown-item" href="#">Anniversary gifts</a></li>
    <li><a class="dropdown-item" href="#">Gifts under $50</a></li>
    <li><a class="dropdown-item" href="#">Gifts under $30</a></li>
    </ul>
    </div>
    </a></li>
    </ul>
    </nav>
