<div style="background-color: white">
    <div style="background-color: white;">
        <etsy-picture-menu>Loading dropdown</etsy-picture-menu>
        <nav class="navbar navbar-white" style="background-color: white;">
            <!-- header -->
            <div class="container-fluid text-center justify-content-center">
            <a class="navbar-brand" href="#"></a>
            <p style="font-family:cambria; color:white;">Popular gifts right now</p>
            </div>
            <b><p style="font-family:arial; font-size:30px;">Popular gifts right now</p></b>
            <p style="font-family:cambria; color:white; font-size:30px;">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            <!-- card for spacing-->
            <div class="card" style="width: 2rem; border:none;">
            <div class="card-body">
            <div class="container-fluid text-center justify-content-center">
            <b><p class="card-text" style="font-family:arial; font-size:20px;"></p></b>
            </div>
            </div>
            </div>
    <div style="background-color: white;">
        <div class="container-fluid">
            <div class="d-flex flex-row">
                <div *ngFor="let productCard of productcards;">
                    <etsy-product-card title={{productCard.title}} description={{productCard.description}} imagePath={{productCard.imagePath}}>
                        Loading card
                    </etsy-product-card>
                </div>
            </div>
        </div>
    </div>
            <!-- card for spacing-->
            <div class="card" style="width: 2rem; border:none;">
            <div class="card-body">
            <div class="container-fluid text-center justify-content-center">
            <b><p class="card-text" style="font-family:arial; font-size:20px;"></p></b>
            </div>
            </div>
            </div>
            </nav>
            <!-- fifth navbar -->
<nav class="navbar navbar-white" style="background-color: white;">
    <!-- header -->
    <div class="container-fluid text-center justify-content-center">
    <a class="navbar-brand" href="#"></a>
    <p style="font-family:cambria; color:white;">Popular gifts right now</p>
    </div>
    <b><p style="font-family:arial; font-size:30px;">Shop by recipient</p></b>
    <!-- arrow icon -->
    <b><svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg></b>
    <p style="font-family:cambria; color:white; font-size:30px;">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <!-- card for spacing-->
    <div class="card" style="width: 5rem; border:none;">
    <div class="card-body">
    <div class="container-fluid text-center justify-content-center">
    <b><p class="card-text" style="font-family:arial; font-size:20px;"></p></b>
    </div>
    </div>
    </div>
    <div style="background-color: white;">
        <div class="container-fluid">
            <div class="d-flex flex-row">
                <div *ngFor="let list of lists;">
                    <etsy-card title={{list.title}} description={{list.description}} imagePath={{list.imagePath}}>
                        Loading card
                    </etsy-card>
                </div>
            </div>
        </div>
    </div>
    <!-- card for spacing-->
    <div class="card" style="width: 4rem; border:none;">
        <div class="card-body">
        <div class="container-fluid text-center justify-content-center">
        <b><p class="card-text" style="font-family:arial; font-size:20px;"></p></b>
        </div>
        </div>
        </div>
    </nav>
