<!-- third navbar -->
<nav class="navbar navbar-light" style="background-color: #fdebd2;">
    <!-- header -->
    <div class="container-fluid text-center justify-content-center">
    <a class="navbar-brand" href="#"></a>
    <p style="font-family:cambria; font-size:50px;">For an extra-happy happily ever after.</p>
    </div>
    <!-- tan background for spacing-->
    <img src="./assets/tan.PNG" alt="" width="130" height="10" class="d-inline-block align-text-top">
    <!-- items with pictures -->
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="./assets/WeddingGifts.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
    <div class="container-fluid text-center justify-content-center">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                  <a routerLink="/weddinggifts" routerLinkActive="active" class="nav-link text-black" aria-current="page">
                    <svg class="bi me-2" width="24" height="24"><use xlink:href="./assets/bootstrap-icons.svg#house-fill"></use></svg>
                    Wedding Gifts
                  </a>
                </li>
              </ul>
    </div>
    </a>
    </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="./assets/WeddingDecor.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
    <div class="container-fluid text-center justify-content-center font-color:black">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a routerLink="/weddingdecor" routerLinkActive="active" class="nav-link text-black">
                <svg class="bi me-2" width="24" height="24"><use xlink:href="./assets/bootstrap-icons.svg#search"></use></svg>
                Wedding Decor
              </a>
            </li>
          </ul>
    </div>
    </a>
    </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="./assets/BridesmaidGifts.jpg" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
    <div class="container-fluid text-center justify-content-center">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="/bridesmaidsgifts" routerLinkActive="active" class="nav-link text-black">
            <svg class="bi me-2" width="24" height="24"><use xlink:href="./assets/bootstrap-icons.svg#search"></use></svg>
            Bridesmaids Gifts
          </a>
        </li>
      </ul>
    </div>
    </a>
    </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="./assets/PersonalizedGifts.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
    <div class="container-fluid text-center justify-content-center">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="/personalizedgifts" routerLinkActive="active" class="nav-link text-black">
            <svg class="bi me-2" width="24" height="24"><use xlink:href="./assets/bootstrap-icons.svg#search"></use></svg>
            Personalized Gifts
          </a>
        </li>
      </ul>
    </div>
    </a>
    </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="./assets/Jewelry.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
    <div class="container-fluid text-center justify-content-center">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="/jewelry" routerLinkActive="active" class="nav-link text-black">
            <svg class="bi me-2" width="24" height="24"><use xlink:href="./assets/bootstrap-icons.svg#search"></use></svg>
            Jewelry
          </a>
        </li>
      </ul>
    </div>
    </a>
    </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="./assets/OnSale.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
    <div class="container-fluid text-center justify-content-center">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="/onsale" routerLinkActive="active" class="nav-link text-black">
            <svg class="bi me-2" width="24" height="24"><use xlink:href="./assets/bootstrap-icons.svg#search"></use></svg>
            Onsale
          </a>
        </li>
      </ul>
    </div>
    </a>
    </div>
    </nav>
    <!-- tan background for spacing-->
    <img src="./assets/tan.PNG" alt="" width="130" height="10" class="d-inline-block align-text-top">
