<!-- first navbar -->
<nav class="navbar navbar-white bg-white">
 <nav class="navbar navbar-white bg-white">
 <div class="container-fluid">
 <!-- white background for spacing-->
 <img src="./assets/white.PNG" alt="" width="70" height="10" class="d-inline-block align-text-top">
 <!-- Etsy logo-->
 <img src="./assets/Etsy.png" alt="" width="80" height="50" class="d-inline-block align-text-top">
 <!-- white background for spacing-->
 <img src="./assets/white.PNG" alt="" width="10" height="10" class="d-inline-block align-text-top">
 <!-- search bar -->
 <div class="topnav">
 <input type="text" placeholder="Search for anything" class="st-default-search-input" style="width: 1400px; height: 50px; background-color: #f8f4f4; border-radius:20px; border:black;"/>
 </div>
 <!-- search icon -->
 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
 <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
 </svg>
 <!-- sign in -->
 <ul class="nav">
 <li class="nav-item"><a class="nav-link text-black" href = "#">
 Sign in
 </a></li>
 </ul>
 <!-- shopping cart icon -->
 <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
 <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
 </svg>
 </div>
 </nav>
 </nav>
 
 <!-- second navbar -->
 <nav class="navbar navbar-white bg-white">
 <div class="container-fluid">
 <a class="navbar-brand" href="#"></a>
 </div>
 <ul class="nav">
 <!-- white background for spacing-->
 <img src="./assets/white.PNG" alt="" width="45" height="10" class="d-inline-block align-text-top">
 <!-- navbar list-->
 <li class="nav-item"><a class="nav-link text-black" href = "#">
 <!-- dropdown menu-->
 <div class="dropdown">
 <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
 Halloween Shop
 </button>
 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
 <li><a class="dropdown-item" href="#"></a></li>
 </ul>
 </div>
 </a></li>
 <li class="nav-item"><a class="nav-link text-black" href = "#">
 <!-- dropdown menu-->
 <div class="dropdown">
 <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
 Jewelry & Accessories
 </button>
 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
 <li><a class="dropdown-item" href="#">Accessories </a></li>
 <li><a class="dropdown-item" href="#">Bags & Purses</a></li>
 <li><a class="dropdown-item" href="#">Necklaces</a></li>
 <li><a class="dropdown-item" href="#">Rings</a></li>
 <li><a class="dropdown-item" href="#">Earrings</a></li>
 <li><a class="dropdown-item" href="#">Bracelets</a></li>
 <li><a class="dropdown-item" href="#">Body Jewelery</a></li>
 <li><a class="dropdown-item" href="#">All Jewelery</a></li>
 </ul>
 </div>
 </a></li>
 <li class="nav-item"><a class="nav-link text-black" href = "#">
 <!-- dropdown menu-->
 <div class="dropdown">
 <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
 Clothing & Shoes
 </button>
 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
 <li><a class="dropdown-item" href="#">Women's </a></li>
 <li><a class="dropdown-item" href="#">Men's</a></li>
 <li><a class="dropdown-item" href="#">Kids' & Baby</a></li>
 <li><a class="dropdown-item" href="#">Bags & Purses</a></li>
 </ul>
 </div>
 </a></li>
 <li class="nav-item"><a class="nav-link text-black" href = "#">
 <!-- dropdown menu-->
 <div class="dropdown">
 <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
 Home & Living
 </button>
 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
 <li><a class="dropdown-item" href="#">Home</a></li>
 <li><a class="dropdown-item" href="#">Bath & Beauty</a></li>
 <li><a class="dropdown-item" href="#">Pet Supplies</a></li>
 </ul>
 </div>
 </a></li>
 <li class="nav-item"><a class="nav-link text-black" href = "#">
 <!-- dropdown menu-->
 <div class="dropdown">
 <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
 Wedding & Party
 </button>
 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
 <li><a class="dropdown-item" href="#">Party Supplies</a></li>
 <li><a class="dropdown-item" href="#">Invitations & Paper</a></li>
 <li><a class="dropdown-item" href="#">Wedding Decorations</a></li>
 <li><a class="dropdown-item" href="#">Wedding Gifts</a></li>
 <li><a class="dropdown-item" href="#">Wedding Accessories</a></li>
 <li><a class="dropdown-item" href="#">Wedding Clothing</a></li>
 <li><a class="dropdown-item" href="#">Wedding Jewelery</a></li>
 </ul>
 </div>
 </a></li>
 <li class="nav-item"><a class="nav-link text-black" href = "#">
 <!-- dropdown menu-->
 <div class="dropdown">
 <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
 Toys & Entertainment
 </button>
 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
 <li><a class="dropdown-item" href="#"></a></li>
 </ul>
 </div>
 </a></li>
 <li class="nav-item"><a class="nav-link text-black" href = "#">
 <!-- dropdown menu-->
 <div class="dropdown">
 <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
 Art & Collectibles
 </button>
 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
 <li><a class="dropdown-item" href="#"></a></li>
 </ul>
 </div>
 </a></li>
 <li class="nav-item"><a class="nav-link text-black" href = "#">
 <!-- dropdown menu-->
 <div class="dropdown">
 <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
 Craft Supplies
 </button>
 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
 <li><a class="dropdown-item" href="#">Home & Hobby</a></li>
 <li><a class="dropdown-item" href="#">Jewelry & Beauty</a></li>
 <li><a class="dropdown-item" href="#">Sewing & Fiber</a></li>
 <li><a class="dropdown-item" href="#">Papercraft</a></li>
 <li><a class="dropdown-item" href="#">Visual Arts</a></li>
 <li><a class="dropdown-item" href="#">Sculpting & Forming</a></li>
 </ul>
 </div>
 </a></li>
 <li class="nav-item"><a class="nav-link text-black" href = "#">
 <!-- dropdown menu-->
 <div class="dropdown">
 <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
 Gifts & Gift Cards
 </button>
 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
 <li><a class="dropdown-item" href="#">Gifts for Her</a></li>
 <li><a class="dropdown-item" href="#">Gifts for Him</a></li>
 <li><a class="dropdown-item" href="#">Gifts for Kids</a></li>
 <li><a class="dropdown-item" href="#">Gifts for Pets</a></li>
 <li><a class="dropdown-item" href="#">Personalized gifts</a></li>
 <li><a class="dropdown-item" href="#">Black-owned Etsy shops</a></li>
 <li><a class="dropdown-item" href="#">Latinx-owned Etsy shops</a></li>
 <li><a class="dropdown-item" href="#">Birthday gifts</a></li>
 <li><a class="dropdown-item" href="#">Anniversary gifts</a></li>
 <li><a class="dropdown-item" href="#">Gifts under $50</a></li>
 <li><a class="dropdown-item" href="#">Gifts under $30</a></li>
 </ul>
 </div>
 </a></li>
 </ul>
 <!-- white background for spacing-->
 <img src="./assets/white.PNG" alt="" width="45" height="10" class="d-inline-block align-text-top">
 </nav>
 
 <!-- third navbar -->
 <nav class="navbar navbar-light" style="background-color: #fdebd2;">
 <!-- header -->
 <div class="container-fluid text-center justify-content-center">
 <a class="navbar-brand" href="#"></a>
 <p style="font-family:cambria; font-size:50px;">Prep for fall with unique picks.</p>
 </div>
 <!-- tan background for spacing-->
 <img src="./assets/tan.PNG" alt="" width="175" height="10" class="d-inline-block align-text-top">
 <!-- items with pictures -->
 <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
 <div class="container-fluid">
 <a class="navbar-brand" href="#">
 <img src="./assets/Halloween.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
 <div class="container-fluid text-center justify-content-center">
 <br>Halloween
 </div>
 </a>
 </div>
 </nav>
 <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
 <div class="container-fluid">
 <a class="navbar-brand" href="#">
 <img src="./assets/FallFinds.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
 <div class="container-fluid text-center justify-content-center">
 <br>Fall Finds
 </div>
 </a>
 </div>
 </nav>
 <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
 <div class="container-fluid">
 <a class="navbar-brand" href="#">
 <img src="./assets/PersonalizedGifts.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
 <div class="container-fluid text-center justify-content-center">
 <br>Personalized Gifts
 </div>
 </a>
 </div>
 </nav>
 <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
 <div class="container-fluid">
 <a class="navbar-brand" href="#">
 <img src="./assets/Jewelry.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
 <div class="container-fluid text-center justify-content-center">
 <br>Jewelry
 </div>
 </a>
 </div>
 </nav>
 <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
 <div class="container-fluid">
 <a class="navbar-brand" href="#">
 <img src="./assets/StorageOrganization.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
 <div class="container-fluid text-center justify-content-center">
 <br>Storage & Organization
 </div>
 </a>
 </div>
 </nav>
 <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
 <div class="container-fluid">
 <a class="navbar-brand" href="#">
 <img src="./assets/OnSale.webp" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
 <div class="container-fluid text-center justify-content-center">
 <br>On Sale
 </div>
 </a>
 </div>
 </nav>
 <!-- tan background for spacing-->
 <img src="./assets/tan.PNG" alt="" width="175" height="10" class="d-inline-block align-text-top">
 
 <!-- forth navbar -->
 <nav class="navbar navbar-white" style="background-color: white;">
 <!-- header -->
 <div class="container-fluid text-center justify-content-center">
 <a class="navbar-brand" href="#"></a>
 <p style="font-family:cambria; color:white;">Popular gifts right now</p>
 </div>
 <b><p style="font-family:arial; font-size:30px;">Popular gifts right now</p></b>
 <p style="font-family:cambria; color:white; font-size:30px;">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
 <!-- card for spacing-->
 <div class="card" style="width: 2rem; border:none;">
 <div class="card-body">
 <div class="container-fluid text-center justify-content-center">
 <b><p class="card-text" style="font-family:arial; font-size:20px;"></p></b>
 </div>
 </div>
 </div>
 <!-- product card -->
 <div class="card" style="width: 18rem; border-radius:20px; border:none;">
 <img src="./assets/Wallet.PNG" class="card-img-top" alt="" width="150" height="150">
 <div class="card-body">
 <h5 class="card-title">Anniversary Gift for Him,Personalized Wallet,Mens...</h5>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 (15,625)
 <p class="card-text">$28.99</p>
 <input type="button" style="background-color:#d8ecd4; color:black; border:none; border-radius:20px; width:130px; height:30px;" value="FREE shipping">
 </div>
 </div>
 <!-- product card -->
 <div class="card" style="width: 18rem; border-radius:20px; border:none;">
 <img src="./assets/BirthFlowerBirthday.PNG" class="card-img-top" alt="" width="150" height="150">
 <div class="card-body">
 <h5 class="card-title">Birth Flower Birthday Gift Box, Personalized birthday ideas,...</h5>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 (4,110)
 <p class="card-text">$21.75</p>
 <input type="button" style="background-color:#d8ecd4; color:black; border:none; border-radius:20px; width:130px; height:30px;" value="FREE shipping">
 </div>
 </div>
 <!-- product card -->
 <div class="card" style="width: 18rem; border-radius:20px; border:none;">
 <img src="./assets/PersonalizedCharcuteriePlanksAndBeerFlights.PNG" class="card-img-top" alt="" width="150" height="150">
 <div class="card-body">
 <h5 class="card-title">Personalized Charcuterie Planks and Beer Flights - 4 Styles and...</h5>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 (16,388)
 <p class="card-text">$55.70</p>
 <input type="button" style="background-color:#d8ecd4; color:black; border:none; border-radius:20px; width:130px; height:30px;" value="FREE shipping">
 </div>
 </div>
 <!-- product card -->
 <div class="card" style="width: 18rem; border-radius:20px; border:none;">
 <img src="./assets/PersonalizedGiftGlassArt.PNG" class="card-img-top" alt="" width="150" height="150">
 <div class="card-body">
 <h5 class="card-title">Personalized Gift Glass Art First Anniversary Gift for Boyfriend...</h5>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
 <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
 </svg>
 (1,383)
 <p class="card-text">$11.60</p>
 </div>
 </div>
 <!-- product card -->
 <div class="card" style="width: 18rem; border-radius:20px; border:none;">
 <img src="./assets/HummingBird.PNG" class="card-img-top" alt="" width="150" height="150">
 <div class="card-body">
 <h5 class="card-title">Hummingbird stained glass window hangings Christmas gi...</h5>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
 </svg>
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
 <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
 </svg>
 (12,391)
 <p class="card-text">$29.75</p>
 </div>
 </div>
 <!-- card for spacing-->
 <div class="card" style="width: 2rem; border:none;">
 <div class="card-body">
 <div class="container-fluid text-center justify-content-center">
 <b><p class="card-text" style="font-family:arial; font-size:20px;"></p></b>
 </div>
 </div>
 </div>
 </nav>
 
 <!-- fifth navbar -->
 <nav class="navbar navbar-white" style="background-color: white;">
 <!-- header -->
 <div class="container-fluid text-center justify-content-center">
 <a class="navbar-brand" href="#"></a>
 <p style="font-family:cambria; color:white;">Popular gifts right now</p>
 </div>
 <b><p style="font-family:arial; font-size:30px;">Shop by recipient</p></b>
 <!-- arrow icon -->
 <b><svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
 <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
 </svg></b>
 <p style="font-family:cambria; color:white; font-size:30px;">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
 <!-- card for spacing-->
 <div class="card" style="width: 3.544rem; border:none;">
 <div class="card-body">
 <div class="container-fluid text-center justify-content-center">
 <b><p class="card-text" style="font-family:arial; font-size:20px;"></p></b>
 </div>
 </div>
 </div>
 <!-- card -->
 <div class="card" style="width: 18rem; border-radius:20px;">
 <img src="./assets/GiftsForHer.PNG" class="card-img-top" alt="...">
 <div class="card-body">
 <div class="container-fluid text-center justify-content-center">
 <b><p class="card-text" style="font-family:arial; font-size:20px;">Gifts for Her</p></b>
 </div>
 </div>
 </div>
 <!-- card -->
 <div class="card" style="width: 18rem; border-radius:20px;">
 <img src="./assets/GiftsForHim.PNG" class="card-img-top" alt="...">
 <div class="card-body">
 <div class="container-fluid text-center justify-content-center">
 <b><p class="card-text" style="font-family:arial; font-size:20px;">Gifts for Him</p></b>
 </div>
 </div>
 </div>
 <!-- card -->
 <div class="card" style="width: 18rem; border-radius:20px;">
 <img src="./assets/GiftsForPets.PNG" class="card-img-top" alt="...">
 <div class="card-body">
 <div class="container-fluid text-center justify-content-center">
 <b><p class="card-text" style="font-family:arial; font-size:20px;">Gifts for Pets</p></b>
 </div>
 </div>
 </div>
 <!-- card -->
 <div class="card" style="width: 18rem; border-radius:20px;">
 <img src="./assets/GiftsForKids.PNG" class="card-img-top" alt="...">
 <div class="card-body">
 <div class="container-fluid text-center justify-content-center">
 <b><p class="card-text" style="font-family:arial; font-size:20px;">Gifts for Kids</p></b>
 </div>
 </div>
 </div>
 <!-- card -->
 <div class="card" style="width: 18rem; border-radius:20px;">
 <img src="./assets/BirthdayGifts.PNG" class="card-img-top" alt="...">
 <div class="card-body">
 <div class="container-fluid text-center justify-content-center">
 <b><p class="card-text" style="font-family:arial; font-size:20px;">Birthday gifts</p></b>
 </div>
 </div>
 </div>
 <!-- card for spacing-->
 <div class="card" style="width: 3.493rem; border:none;">
 <div class="card-body">
 <div class="container-fluid text-center justify-content-center">
 <b><p class="card-text" style="font-family:arial; font-size:20px;"></p></b>
 </div>
 </div>
 </div>
 </nav>
