<nav class="navbar navbar-white bg-white">
    <!-- Navbar content -->
    <!-- heading -->
<nav class="navbar navbar-white bg-white">
  <div class="container-fluid">
    <span class = "nav-link"><p class="fs-1 orange-logo-color">Etsy</p></span>
    <!-- search bar -->
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search for anything" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link text-black" href = "#">
      Sign in
      </a></li>
    </ul>
  </div>
  </nav>
  
  <nav class="navbar navbar-white bg-white">
    <!-- Navbar content -->
    <!-- link -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
    </div>

    <ul class="nav">
      <li class="nav-item"><a class="nav-link text-black" href = "#">
      Halloween Shop
      </a></li>
      <li class="nav-item"><a class="nav-link text-black" href = "#">
      Jewelry & Accessories
      </a></li>
      <li class="nav-item"><a class="nav-link text-black" href = "#">
      Clothing & Shoes
      </a></li>
      <li class="nav-item"><a class="nav-link text-black" href = "#">
      Home & Living
      </a></li>
      <li class="nav-item"><a class="nav-link text-black" href = "#">
      Wedding & Party
      </a></li>
      <li class="nav-item"><a class="nav-link text-black" href = "#">
      Toys & Entertainment
      </a></li>
      <li class="nav-item"><a class="nav-link text-black" href = "#">
      Art & Collectibles
      </a></li>
      <li class="nav-item"><a class="nav-link text-black" href = "#">
      Craft Supplies
      </a></li>
      <li class="nav-item"><a class="nav-link text-black" href = "#">
      Gifts & Gift Cards
      </a></li>
      </ul>
  </nav>
  
  <nav class="navbar navbar-light">
    <!-- Navbar content -->
       
    <!-- header -->
    <div class="container-fluid text-center justify-content-center">
      <a class="navbar-brand" href="#"></a>
      <p class="fs-2">Handcrafted creations, made in the US.</p>
    </div>

    
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./assets/Sign.avif" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
          <br>Signs
        </a>
      </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./assets/LinenClothing.avif" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
          <br>Linen Clothing
        </a>
      </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./assets/Jewelry.avif" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
          <br>Jewelry
        </a>
      </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./assets/WeddingGifts.avif" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
          <br>Wedding Gifts
        </a>
      </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./assets/KidsTableAndChairs.avif" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
          <br>Kids Table & Chairs
        </a>
      </div>
    </nav>
    <nav class="navbar navbar-#cfbc70; bg-#cfbc70;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./assets/OnSale.avif" alt="" width="120" height="120" class="d-inline-block align-text-top round-images">
          <br>On Sale
        </a>
      </div>
    </nav>
